@page "/"
@using YetgenAkbankJump.Domain.Entities
@inject HttpClient HttpClient

<PageTitle>Index</PageTitle>

@if (Cars is null || !Cars.Any())
{
    <div class="text-center mt-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif"/>
    </div>
}
else{

<div class="container">
    <div class="row">
        @foreach (var car in Cars)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="@car.ImageUrl" class="card-img-top" alt="@car.Make @car.Model">
                    <div class="card-body">
                        <h5 class="card-title">@car.Make @car.Model</h5>
                        <p class="card-text">$@car.Price.ToString("N2")</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}


@code
{
    List<Car> Cars = new List<Car>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        Cars = await HttpClient.GetFromJsonAsync<List<Car>>("Cars");

        await base.OnInitializedAsync();
    }
}
